name: flutter_foundation
description: "A minimal, structured Flutter base for real-world production apps, continuously evolving with practical improvements."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.10.8

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true